@using Microsoft.AspNetCore.Mvc.Localization
@using System.Linq
@model ChargePointViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
    var selectedOwner = Model?.Owners?.FirstOrDefault(o => o.OwnerId == Model.OwnerId);
    var ownerDisplay = (selectedOwner != null && !string.IsNullOrWhiteSpace(selectedOwner.Email)) ? $"{selectedOwner.Name} ({selectedOwner.Email})" : selectedOwner?.Name;
    var ownerEmail = selectedOwner?.Email;
}
<br />

@if (Model != null)
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4>@Localizer["EditChargePoint"]</h4>
        <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="ChargePointId">@Localizer["ChargePointIdLabel"]</label>
                    </div>
                </div>
                @if (Model.CurrentId == "@")
                {
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" data-val="true" data-val-length="@string.Format(Localizer["FieldMaxLength"].Value, 100)" data-val-length-max="100" data-val-required="@Localizer["RequiredField"]" id="ChargePointId" maxlength="100" name="ChargePointId" placeholder="@Localizer["ChargePointIdPlaceholder"]" value="@Model.ChargePointId">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span class="field-validation-valid text-danger" data-valmsg-for="ChargePointId" data-valmsg-replace="true"></span>
                    </div>
                }
                else
                {
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" readonly class="form-control" id="ChargePointId" name="ChargePointId" placeholder="@Localizer["ChargePointIdPlaceholder"]" value="@Model.ChargePointId">
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="Name">@Localizer["NameLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" data-val="true" data-val-length="@string.Format(Localizer["FieldMaxLength"].Value, 100)" data-val-length-max="100" data-val-required="@Localizer["RequiredField"]" id="Name" maxlength="100" name="Name" placeholder="@Localizer["NamePlaceholder"]" type="text" value="@Model.Name" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="Comment">@Localizer["CommentLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" data-val="true" data-val-length="@string.Format(Localizer["FieldMaxLength"].Value, 200)" data-val-length-max="200" id="Comment" maxlength="200" name="Comment" placeholder="@Localizer["CommentPlaceholder"]" type="text" value="@Model.Comment" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="Description">@Localizer["DescriptionLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" data-val="true" data-val-length="@string.Format(Localizer["FieldMaxLength"].Value, 500)" data-val-length-max="500" id="Description" maxlength="500" name="Description" placeholder="@Localizer["DescriptionPlaceholder"]" type="text" value="@Model.Description" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="Username">@Localizer["UsernameLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" data-val="true" data-val-length="@string.Format(Localizer["FieldMaxLength"].Value, 50)" data-val-length-max="50" id="Username" maxlength="50" name="Username" placeholder="@Localizer["UsernamePlaceholder"]" type="text" value="@Model.Username" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="Password">@Localizer["PasswordLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" data-val="true" data-val-length="@string.Format(Localizer["FieldMaxLength"].Value, 50)" data-val-length-max="50" id="Password" maxlength="50" name="Password" placeholder="@Localizer["PasswordPlaceholder"]" type="text" value="@Model.Password" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="ClientCertThumb">@Localizer["ClientCertThumbLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" data-val="true" data-val-length="@string.Format(Localizer["FieldMaxLength"].Value, 100)" data-val-length-max="100" id="ClientCertThumb" maxlength="100" name="ClientCertThumb" placeholder="@Localizer["ClientCertThumbPlaceholder"]" type="text" value="@Model.ClientCertThumb" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="field-validation-valid text-danger" data-valmsg-for="ClientCertThumb" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="FreeChargingEnabled">@Localizer["FreeChargingEnabledLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="FreeChargingEnabled" name="FreeChargingEnabled" value="true" @(Model.FreeChargingEnabled ? "checked" : "") />
                        <input type="hidden" name="FreeChargingEnabled" value="false" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="PricePerKwh">@Localizer["PricePerKwhLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="PricePerKwh" name="PricePerKwh" type="number" step="0.0001" min="0" value="@Model.PricePerKwh" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="UserSessionFee">@Localizer["UserSessionFeeLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="UserSessionFee" name="UserSessionFee" type="number" step="0.0001" min="0" value="@Model.UserSessionFee" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="OwnerSessionFee">@Localizer["OwnerSessionFeeLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="OwnerSessionFee" name="OwnerSessionFee" type="number" step="0.0001" min="0" value="@Model.OwnerSessionFee" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="MaxSessionKwh">@Localizer["MaxSessionKwhLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="MaxSessionKwh" name="MaxSessionKwh" type="number" step="0.1" min="0" value="@Model.MaxSessionKwh" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="OwnerCommissionPercent">@Localizer["OwnerCommissionPercentLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="OwnerCommissionPercent" name="OwnerCommissionPercent" type="number" step="0.0001" min="0" value="@Model.OwnerCommissionPercent" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="OwnerCommissionFixedPerKwh">@Localizer["OwnerCommissionFixedPerKwhLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="OwnerCommissionFixedPerKwh" name="OwnerCommissionFixedPerKwh" type="number" step="0.0001" min="0" value="@Model.OwnerCommissionFixedPerKwh" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="StartUsageFeeAfterMinutes">@Localizer["StartUsageFeeAfterMinutesLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="StartUsageFeeAfterMinutes" name="StartUsageFeeAfterMinutes" type="number" step="1" min="0" value="@Model.StartUsageFeeAfterMinutes" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="MaxUsageFeeMinutes">@Localizer["MaxUsageFeeMinutesLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="MaxUsageFeeMinutes" name="MaxUsageFeeMinutes" type="number" step="1" min="0" value="@Model.MaxUsageFeeMinutes" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="OwnerLookup">@Localizer["OwnerLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="form-control" id="OwnerLookup" name="OwnerLookup" type="text" list="OwnerOptions" placeholder="@Localizer["OwnerPlaceholder"]" value="@ownerDisplay" autocomplete="off" />
                        <datalist id="OwnerOptions">
                            @if (Model.Owners != null)
                            {
                                foreach (var owner in Model.Owners)
                                {
                                    var ownerLabel = string.IsNullOrWhiteSpace(owner.Email) ? owner.Name : $"{owner.Name} ({owner.Email})";
                                    <option value="@ownerLabel" data-owner-id="@owner.OwnerId" data-owner-email="@owner.Email"></option>
                                }
                            }
                        </datalist>
                        <input type="hidden" id="OwnerId" name="OwnerId" value="@Model.OwnerId" />
                        <small class="form-text text-muted">
                            <a href="~/Home/Owner">@Localizer["ManageOwners"]</a>
                        </small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="form-control" id="OwnerEmailDisplay" type="text" value="@ownerEmail" placeholder="@Localizer["OwnerEmailPlaceholder"]" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="ConnectorUsageFeePerMinute">@Localizer["ConnectorUsageFeePerMinuteLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="ConnectorUsageFeePerMinute" name="ConnectorUsageFeePerMinute" type="number" step="0.0001" min="0" value="@Model.ConnectorUsageFeePerMinute" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="UsageFeeAfterChargingEnds">@Localizer["UsageFeeAfterChargingEndsLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="UsageFeeAfterChargingEnds" name="UsageFeeAfterChargingEnds" value="true" @(Model.UsageFeeAfterChargingEnds ? "checked" : "") />
                        <input type="hidden" name="UsageFeeAfterChargingEnds" value="false" />
                        <small class="form-text text-muted">@Localizer["UsageFeeAfterChargingEndsHint"]</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="Latitude">@Localizer["LatitudeLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="Latitude" name="Latitude" type="number" step="0.000001" min="-90" max="90" value="@Model.Latitude" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="Longitude">@Localizer["LongitudeLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input class="form-control" id="Longitude" name="Longitude" type="number" step="0.000001" min="-180" max="180" value="@Model.Longitude" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label" for="LocationDescription">@Localizer["LocationDescriptionLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" id="LocationDescription" name="LocationDescription" type="text" maxlength="500" value="@Model.LocationDescription" />
                        <small class="form-text text-muted">@Localizer["LocationDescriptionHint"]</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <label class="inline-label">@Localizer["MapPickerLabel"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary" id="btnToggleMap">@Localizer["MapPickerButton"]</button>
                    <div style="margin-top:8px; display:none;" id="mapSearchContainer">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="LocationSearchInput" placeholder="@Localizer["MapSearchPlaceholder"]" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" id="LocationSearchBtn">@Localizer["MapSearchButton"]</button>
                            </div>
                        </div>
                        <small class="form-text text-muted">@Localizer["MapSearchHint"]</small>
                        <div id="LocationSearchResult" class="text-muted" style="margin-top:4px;"></div>
                    </div>
                    <div id="mapPicker" style="height: 320px; margin-top: 10px; display: none; border: 1px solid #ccc; border-radius: 6px;"></div>
                    <small class="form-text text-muted">@Localizer["MapPickerHint"]</small>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-danger">
                    @ViewBag.ErrorMsg
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary"><i class=" fas fa-save"></i>&nbsp;@Localizer[(Model.CurrentId == "@") ? "SaveNew" : "Save"].Value</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-secondary" id="btnBack" onclick="history.back()">@Localizer["Back"].Value</button>
                </div>
                @if (Model.CurrentId != "@")
                {
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning" id="btnDelete" onclick="DeleteChargepoint()"><i class="fas fa-trash"></i>&nbsp;@Localizer["Delete"].Value</button>
                    </div>
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.ChargePointId))
            {
                <div class="row">
                    <div class="col-sm-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-info" id="btnReset" title="@Localizer["TitleReset"]" onclick="ResetChargepoint()"><i class="fas fa-redo"></i> @Localizer["TitleReset"]</button>
                    </div>
                </div>
            }
        </div>
        <input type="hidden" name="action" id="hidAction" value="" />
    }


    @section scripts {
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
        <style>
            #mapPicker {
                height: 320px;
                width: 100%;
                position: relative;
                overflow: hidden;
            }
            #mapPicker .leaflet-container {
                height: 100% !important;
                width: 100% !important;
            }
            #mapPicker .leaflet-pane, #mapPicker .leaflet-control-container { z-index: 400; }
        </style>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script>
            (function () {
                var ownerInput = document.getElementById('OwnerLookup');
                var ownerOptions = document.getElementById('OwnerOptions');
                var ownerId = document.getElementById('OwnerId');
                var ownerEmail = document.getElementById('OwnerEmailDisplay');

                if (!ownerInput || !ownerOptions || !ownerId) {
                    return;
                }

                function syncOwnerSelection() {
                    var match = Array.from(ownerOptions.options).find(function (option) {
                        return option.value === ownerInput.value;
                    });

                    if (match) {
                        ownerId.value = match.dataset.ownerId;
                        if (ownerEmail) {
                            ownerEmail.value = match.dataset.ownerEmail || '';
                        }
                    } else {
                        ownerId.value = '';
                        if (ownerEmail) {
                            ownerEmail.value = '';
                        }
                    }
                }

                ownerInput.addEventListener('input', syncOwnerSelection);
                ownerInput.addEventListener('change', syncOwnerSelection);
                syncOwnerSelection();
            })();

            (function () {
                var map, marker;
                var mapVisible = false;
                var latInput = document.getElementById('Latitude');
                var lonInput = document.getElementById('Longitude');
                var mapDiv = document.getElementById('mapPicker');
                var btnToggle = document.getElementById('btnToggleMap');
                var searchInput = document.getElementById('LocationSearchInput');
                var searchBtn = document.getElementById('LocationSearchBtn');
                var searchResult = document.getElementById('LocationSearchResult');
                var searchContainer = document.getElementById('mapSearchContainer');

                function initMap() {
                    if (map) return;
                    var lat = parseFloat(latInput.value) || 45.0;
                    var lon = parseFloat(lonInput.value) || 15.0;
                    map = L.map('mapPicker').setView([lat, lon], 12);
                    map.invalidateSize();
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; OpenStreetMap contributors'
                    }).addTo(map);
                    marker = L.marker([lat, lon], { draggable: false }).addTo(map);
                    map.on('click', function (e) {
                        var coords = e.latlng;
                        marker.setLatLng(coords);
                        latInput.value = coords.lat.toFixed(6);
                        lonInput.value = coords.lng.toFixed(6);
                    });
                }

                if (btnToggle && mapDiv && latInput && lonInput) {
                    btnToggle.addEventListener('click', function () {
                        mapVisible = !mapVisible;
                        mapDiv.style.display = mapVisible ? 'block' : 'none';
                        if (searchContainer) {
                            searchContainer.style.display = mapVisible ? 'block' : 'none';
                        }
                        if (mapVisible) {
                            initMap();
                            setTimeout(function () {
                                map.invalidateSize();
                            }, 150);
                        }
                    });
                }

                async function searchLocation() {
                    if (!searchInput || !searchInput.value) {
                        return;
                    }
                    if (!map) {
                        initMap();
                    }
                    if (searchResult) {
                        searchResult.textContent = 'Searching...';
                    }
                    try {
                        const q = encodeURIComponent(searchInput.value);
                        const resp = await fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${q}`);
                        const data = await resp.json();
                        if (data && data.length > 0) {
                            const first = data[0];
                            const lat = parseFloat(first.lat);
                            const lon = parseFloat(first.lon);
                            latInput.value = lat.toFixed(6);
                            lonInput.value = lon.toFixed(6);
                            if (marker) {
                                marker.setLatLng([lat, lon]);
                            } else {
                                marker = L.marker([lat, lon], { draggable: false }).addTo(map);
                            }
                            map.setView([lat, lon], 14);
                            if (searchResult) {
                                searchResult.textContent = first.display_name;
                            }
                        } else if (searchResult) {
                            searchResult.textContent = '@Localizer["MapSearchNoResults"]';
                        }
                    } catch (err) {
                        if (searchResult) {
                            searchResult.textContent = '@Localizer["MapSearchError"]';
                        }
                    }
                }

                if (searchBtn) {
                    searchBtn.addEventListener('click', searchLocation);
                }
                if (searchInput) {
                    searchInput.addEventListener('keyup', function (e) {
                        if (e.key === 'Enter') {
                            searchLocation();
                        }
                    });
                }
            })();
        </script>
        @if (!string.IsNullOrWhiteSpace(Model.ChargePointId))
        {
            <script>
            function ResetChargepoint() {
                var dialog = new BootstrapDialog({
                    title: '@Localizer["TitleReset"]',
                    message: '@string.Format(Localizer["DialogReset"].Value, Model.Name)',
                    spinicon: 'fa fa-spinner fa-fw',
                    buttons: [{
                        id: 'btnDialogReset',
                        label: '@Localizer["TitleReset"]',
                        icon: 'fas fa-redo',
                        autospin: true,
                        action: function (dialogRef) {
                            dialogRef.enableButtons(false);
                            dialogRef.setClosable(false);
                            dialogRef.getModalBody().html('@Localizer["ExecuteReset"]');

                            var xmlhttp = new XMLHttpRequest();
                            xmlhttp.onreadystatechange = function () {
                                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                                    if (xmlhttp.status == 200) {
                                        dialogRef.getModalBody().html(xmlhttp.responseText);
                                    }
                                    else {
                                        dialogRef.getModalBody().html('@Localizer["ErrorReset"]');
                                    }

                                    dialogRef.setClosable(true);
                                    dialogRef.enableButtons(true);
                                    var $resetButton = dialog.getButton('btnDialogReset');
                                    $resetButton.hide();
                                    var $cancelButton = dialog.getButton('btnDialogCancel');
                                    $cancelButton.text('@Localizer["Close"]');

                                }
                            };
                            xmlhttp.open("GET", "@Html.Raw(Url.Content("~/API/Reset/" + Uri.EscapeDataString(Model.ChargePointId)))", true);
                            xmlhttp.send();
                        }
                    }, {
                        id: 'btnDialogCancel',
                        label: '@Localizer["Cancel"]',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
                dialog.open();
            }
            
            function DeleteChargepoint() {
                var dialog = new BootstrapDialog({
                    title: '@Localizer["TitleDelete"]',
                    message: '@Localizer["DialogDelete"]',
                    //spinicon: 'fa fa-spinner fa-fw',
                    buttons: [{
                        id: 'btnDialogReset',
                        label: '@Localizer["TitleDelete"]',
                        icon: 'fas fa-trash',
                        //autospin: true,
                        action: function (dialogRef) {
                            $("#hidAction").val('Delete');
                            $("form").submit();
                        }
                    }, {
                        id: 'btnDialogCancel',
                        label: '@Localizer["Cancel"]',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
                dialog.open();
            }
            </script>
        }
    }
}
